@import "../../variables.scss";

.result {
  display: grid;
  grid-template-columns: 1fr 500px 1fr 1fr;
  grid-template-rows: 2;
  padding: 70px 0 0 10px;
  color: white;
  font-size: 16px;

  @media screen and (max-width: 425px) {
    grid-template-columns: 10px 1fr;
  }

  .result-list {
    grid-column: 2;
    list-style-type: none;
    padding: 0;
    margin: 0;

    .result-item {
      display: flex;
      align-items: center;
      margin-bottom: 50px;

      li {
        margin-left: 10px;
      }

      .result-value {
        margin-left: 5px;
        color: #0054e6;
      }

      svg {
        width: 25px;
        height: 20px;
      }
    }
  }

  .error-msg {
    grid-column: 2;

    @media screen and (max-width: 425px) {
      text-align: center;
    }
  }

  .back {
    grid-column: 2;
    grid-row: 2;

    @media screen and (max-width: 425px) {
      display: flex;
      justify-content: center;
      text-decoration: none;
    }
  }

  .back-button {
    height: 60px;
    width: 150px;
    margin-top: 40px;
    padding: 8px 5px;
    border: none;
    border-radius: 3px;
    color: black;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background-color: $primary-blue;
      color: white;
    }

    &:focus {
      outline: none;
    }
  }

  .hide {
    display: none;
  }
}
