* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: url("./Images/weather.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Roboto", "Arial";
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
