body {
  font-family: "Roboto", "Arial";
  background: url("./Images/weather.jpg");
  background-size: cover;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
